<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="">
      <h1>Matt's Todo List</h1>

      <form method="post">
        <input id="inputItem"type="text" name="user" placeholder="Add new ToDo" value="">
        <select name="completed">
          <option value ="false">False</option>
          <option value ="true">True</option>
        </select>
        <input name="submit" type="submit" value="Add Todo">
      </form>

      <ul>

        {{#todos}}
          {{#dataValues}}
            <li>{{item}}   ---   Status: {{status}}</li>
          {{/dataValues}}
        {{/todos}}


      </ul>

    </div>

  </body>
</html>
